<div class="container">

    <div style="text-align: center; margin : 20px;font-size:18px">
        <p>Every parents have a dream that their child should score
            <strong>Acche Marks</strong> So Square Education has taken the responsiblities of all the students whose parents dream
            of
            <strong>Acche Marks</strong>. The purpose of Square Education is to improve the foundation of your child and prepare
            them for the professional career </p>
    </div>
    <div class="title">Foundation Team</div>
    <div class="rows">
        {{#each data.foundationTeam}}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div id="professionalCardContainter">
                <div style="padding-top: 10px">
                    <img class="img-wrapper" src={{this.facultyImage}} />
                </div>
                <div class="studentInfo">
                    <div class="studentName">
                        <span>{{this.facultyName.first}}
                        </span>
                        <span>{{this.facultyName.last}}</span>
                    </div>
                </div>
                <div style="padding:10px">
                    <strong>Teaching Experience</strong>
                    <p>{{this.teachingExperience}} years</p>
                    <strong>Current Profession</strong>
                    <p>{{this.profession}}</p>
                    <strong>Role at Square Education</strong>
                    <p>{{this.roleAtSquareEducation}}</p>
                    {{!-- <strong>Why Square Education ?</strong>
                    <div>
                        <a href="#">Watch Video</a>
                    </div> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="title">Pillar Team</div>
    <div class="rows">
        {{#each data.pillarTeam}}
        <div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div id="professionalCardContainter">
                    <div style="padding-top: 10px">
                        <img class="img-wrapper" src={{this.facultyImage}} />
                    </div>
                    <div class="studentInfo">
                        <div class="studentName">
                            <span>{{this.facultyName.first}}
                            </span>
                            <span>{{this.facultyName.last}}</span>
                        </div>
                    </div>
                    <div style="padding:10px">
                        <strong>Teaching Experience</strong>
                        <p>{{this.teachingExperience}} years</p>
                        <strong>Current Profession</strong>
                        <p>{{this.profession}}</p>
                        <strong>Role at Square Education</strong>
                        <p>{{this.roleAtSquareEducation}}</p>
                        {{!--
                        <strong>Why Square Education ?</strong>
                        <div>
                            <a href="#">Watch Video</a>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>