<div class="container">
    <br/> {{#if data.loader}}
    <div class="title" style="padding-left: 15px">Our Centers</div>
    <div class="container">

        <div class="rows">
            {{#each data.centers}}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div id="testimonialCardDetails">
                    <img src={{this.inChargeImage}} />

                    <div id="testimonailParent">
                        <span class="titleText">
                            <span>{{this.centerName}} Center</span>
                        </span>
                        <br/>
                        <div>
                            <span class="titleSubText" style="text-transform: capitalize">
                                {{ this.inChargeName.first }}
                            </span>
                            <span class="titleSubText" style="text-transform: capitalize">
                                {{ this.inChargeName.last }}
                            </span>
                            <div>
                                <a href="#" style="display:none">View on Map</a>
                            </div>
                        </div>

                    </div>
                    <div style="clear:both">
                        <p id="testimonialText">{{this.address}}</p>
                        <p id="testimonialText">{{this.phone}}</p>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="rows">
        <div class="center-block" style="margin: 50px;">
            <div class="loader"></div>
        </div>
    </div>
    {{/if}}
</div>