<div class="container">
	<div id='splotLight'>
		<div>
			<h3>1</h3>
		</div>
		<div>
			<h3>2</h3>
		</div>
		<div>
			<h3>3</h3>
		</div>
		<div>
			<h3>4</h3>
		</div>
		<div>
			<h3>5</h3>
		</div>
		<div>
			<h3>6</h3>
		</div>
	</div>
	<div>
		<span class="title">Top Scorer</span>
		<span class="titleRight">show more</span>
		<div class="rows">
			{{#each data.topScore}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.studentName.first}}
						</span>
						<span>{{this.studentName.last}}</span>
					</div>
					<div class="img-wrapper">
						<img src="" />
					</div>
					<div class="cardInfo">

					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<br/>
	<div>
		<div class="title">Subject Highest</div>
		<span class="titleRight">show more</span>
		<div class="rows">
			{{#each data.subjectHighest}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.studentName.first}}
						</span>
						<span>{{this.studentName.last}}</span>
					</div>
					<div class="img-wrapper">
						<img src="" />
					</div>
					<div class="cardInfo">
						
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<br/>

		<div>
			<div class="title">Growth Achieved</div>
			<span class="titleRight">show more</span>
			<div class="rows">
				{{#each data.growthAchieved}}
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div id="studentCardContainter">
					<div class="details">
						<span>{{this.studentName.first}}
						</span>
						<span>{{this.studentName.last}}</span>
					</div>
					<div class="img-wrapper">
						<img src="" />
					</div>
					<div class="cardInfo">
						
					</div>
				</div>
				</div>
				{{/each}}
			</div>
		</div>

		<div>
			<div class="title">Proud Parents </div>
			<span class="titleRight">show more</span>
			<div class="rows">
				{{#each data.testimonial}}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div id="testimonialCardDetails">
						<img src={this.parentImagePath} style="width: '100px', height: '100px'" />
						<div>
							<div id="testimonailParent">
								<div className="titleText">
									<span>{{this.parentName.first}}</span>
									<span> {{ this.parentName.last }} </span>
								</div>
								<span className="titleSubText">
									{{ this.relationWithStudent }}
								</span>
								<span className="titleSubText">
									{{ this.studentName.first }}
								</span>
								<span className="titleSubText">
									{{ this.studentName.last }}
								</span>
								<p id="testimonialSquare">{{this.fromSquareEducation}}</p>
							</div>
							<p id="testimonialText">{{this.testimonial}}</p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
</div>