<div class="container">
	<div id='splotLight'>
		<div>
			<h3>1</h3>
		</div>
		<div>
			<h3>2</h3>
		</div>
		<div>
			<h3>3</h3>
		</div>
		<div>
			<h3>4</h3>
		</div>
		<div>
			<h3>5</h3>
		</div>
		<div>
			<h3>6</h3>
		</div>
	</div>

	<div style="clear:both">
		<div>
			<span class="title">The Achievers</span>
			<span class="titleRight">
				<a href="/viewall/3">view all</a>
			</span>
		</div>
		<div class="rows">
			{{#each data.growthAchieved}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.percentScored}}% in
						</span>
						<span>{{this.examination}}</span>
					</div>
					<div>
						<img class="img-wrapper rounded" src={{this.studentImagePath}} />
					</div>
					<div class="studentInfo">
						<div class="studentName">
							<span>{{this.studentName.first}}
							</span>
							<span>{{this.studentName.last}}</span>
						</div>
						<div class="studentSchoolName">
							<span>{{this.courseOpted}}</span> -
							<span>{{this.school}}</span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<br />

	<div style="clear:both">
		<div>
			<span class="title">The Toppers</span>
			<span class="titleRight">
				<a href="/viewall/1">view all</a>
			</span>
		</div>
		<div class="rows">
			{{#each data.topScore}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.percentScored}}% in
						</span>
						<span>{{this.examination}}</span>
					</div>
					<div>
						<img class="img-wrapper rounded" src={{this.studentImagePath}} />
					</div>
					<div class="studentInfo">
						<div class="studentName">
							<span>{{this.studentName.first}}
							</span>
							<span>{{this.studentName.last}}</span>
						</div>
						<div class="studentSchoolName">
							<span>{{this.courseOpted}}</span> -
							<span>{{this.school}}</span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<br/>

	<div style="clear:both">
		<div>
			<span class="title">The Highest</span>
			<span class="titleRight">
				<a href="/viewall/2">view all</a>
			</span>
		</div>
		<div class="rows">
			{{#each data.subjectHighest}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.percentScored}}% in
						</span>
						<span>{{this.examination}}</span>
					</div>
					<div>
						<img class="img-wrapper rounded" src={{this.studentImagePath}} />
					</div>
					<div class="studentInfo">
						<div class="studentName">
							<span>{{this.studentName.first}}
							</span>
							<span>{{this.studentName.last}}</span>
						</div>
						<div class="studentSchoolName">
							<span>{{this.courseOpted}}</span> -
							<span>{{this.school}}</span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>

	</div>
	<br/> {{!--
	<div style="clear:both">
		<div>
			<span class="title">The Achievers</span>
			<span class="titleRight">
				<a href="/viewall/3">view all</a>
			</span>
		</div>
		<div class="rows">
			{{#each data.growthAchieved}}
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div id="studentCardContainter">
					<div class="details">
						<span>{{this.percentScored}}% in
						</span>
						<span>{{this.examination}}</span>
					</div>
					<div>
						<img class="img-wrapper rounded" src={{this.studentImagePath}} />
					</div>
					<div class="studentInfo">
						<div class="studentName">
							<span>{{this.studentName.first}}
							</span>
							<span>{{this.studentName.last}}</span>
						</div>
						<div class="studentSchoolName">
							<span>{{this.courseOpted}}</span> -
							<span>{{this.school}}</span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<br /> --}}

	<div style="clear:both">
		<span class="title">Parent Says</span>
		<span class="titleRight">
			<a href="/viewall/4">view all</a>
		</span>
		<div class="rows">
			{{#each data.testimonial}}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div id="testimonialCardDetails">
					<img src={{this.parentImagePath}} />

					<div id="testimonailParent">
						<span class="titleText">
							<span>{{this.parentName.first}}</span>
							<span> {{ this.parentName.last }} </span>
						</span>
						<br/>
						<div>
							<span class="titleSubText">
								{{ this.relationWithStudent }}
							</span>
							<span class="titleSubText">
								of {{ this.studentName.first }}
							</span>
							<span class="titleSubText">
								{{ this.studentName.last }}
							</span>
						</div>
						<p id="testimonialSquare">{{this.fromSquareEducation}}</p>
					</div>
					<p id="testimonialText">{{this.testimonial}}</p>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>