<div class="container">
    <div class="rows">
        {{#each data.studentInCategory}}
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div id="studentCardContainter">
                <div class="details">
                    <span>{{this.percentScored}}% in
                    </span>
                    <span>{{this.examination}}</span>
                </div>
                <div>
                    <img class="img-wrapper rounded" src={{this.studentImagePath}} />
                </div>
                <div class="studentInfo">
                    <div class="studentName">
                        <span>{{this.studentName.first}}
                        </span>
                        <span>{{this.studentName.last}}</span>
                    </div>
                    <div class="studentSchoolName">
                        <span>{{this.courseOpted}}</span> -
                        <span>{{this.school}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>