<div class="container">
    <div style="margin-top:20px">
        <table>
            <tr>
                <td>
                    <a href="/">
                        <img src="/images/ic_back_arrow.png" /> </a>
                </td>
                <td>
                    <span class="title">{{data.category}}</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="rows">
        {{#if data.categoryStudentType}} {{#each data.studentInCategory}}
        <div>
            <div class="col-xs-12 col-sm-6 col-md-2">

                <div id="studentCardContainter" style="height:300px">
                    <div class="details">
                        <span>{{this.title}}
                        </span>
                    </div>
                    <div>
                        <img class="img-wrapper rounded" src={{this.studentImagePath}} />
                    </div>
                    <div class="studentInfo">
                        <div class="studentName">
                            <span>{{this.studentName.first}}
                            </span>
                            <span>{{this.studentName.last}}</span>
                        </div>
                        <div class="studentSchoolName">
                            <span>{{this.courseOpted}}</span> -
                            <span>{{this.school}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}} {{else}}
        <div>
            {{#each data.studentInCategory}}
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div id="testimonialCardDetails">
                    <img src={{this.parentImagePath}} />

                    <div id="testimonailParent">
                        <span class="titleText">
                            <span>{{this.parentName.first}}</span>
                            <span> {{ this.parentName.last }} </span>
                        </span>
                        <br/>
                        <div>
                            <span class="titleSubText">
                                {{ this.relationWithStudent }}
                            </span>
                            <span class="titleSubText">
                                of {{ this.studentName.first }}
                            </span>
                            <span class="titleSubText">
                                {{ this.studentName.last }}
                            </span>
                        </div>
                    </div>
                    <div>
                        <p id="testimonialText">
                            <img src="/images/upper_quote.png" style="vertical-align:super" width="10px" height="10px" alt="upper-quote" />                            {{this.testimonial}}
                            <img src="/images/lower_quote.png" style="vertical-align:super" width="10px" height="10px" alt="lower-quote" />
                        </p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>

</div>
</div>


{{!-- {{#each data.studentInCategory}}
<div>
    {{#if data.categoryStudentType}}
    <div class="col-xs-12 col-sm-6 col-md-2">

        <div id="studentCardContainter" style="height:300px">
            <div class="details" style="height:55px">
                {{#if this.highestMarkWithSubjectName}}
                <span>{{this.highestMarkWithSubjectName}}
                </span>
                {{else}}
                <span>{{this.percentScored}}% in
                </span>
                <span>{{this.examination}}</span>
                {{/if}}
            </div>
            <div>
                <img class="img-wrapper rounded" src={{this.studentImagePath}} />
            </div>
            <div class="studentInfo">
                <div class="studentName">
                    <span>{{this.studentName.first}}
                    </span>
                    <span>{{this.studentName.last}}</span>
                </div>
                <div class="studentSchoolName">
                    <span>{{this.courseOpted}}</span> -
                    <span>{{this.school}}</span>
                </div>
            </div>
        </div>
    </div>
    {{else if data.categoryTestimonialType}}
    <div class="col-xs-12 col-sm-6 col-md-4">

        <div id="testimonialCardDetails">
            <img src={{this.imagePath}} />

            <div id="testimonailParent">
                <span class="titleText">
                    <span>{{this.parentName.first}}</span>
                    <span> {{ this.parentName.last }} </span>
                </span>
                <br/>
                <div>
                    <span class="titleSubText">
                        {{ this.relationWithStudent }}
                    </span>
                    <span class="titleSubText">
                        of {{ this.studentName.first }}
                    </span>
                    <span class="titleSubText">
                        {{ this.studentName.last }}
                    </span>
                </div>
            </div>
            <p id="testimonialText">{{this.testimonial}}</p>
        </div>
    </div>
    {{/if}}
</div>
{{/each}} --}}